<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/d90e43a863.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="css/index.css">

    <link rel="shortcut icon" href="img/logo.gif">
    <title>Ashhdjkd</title>
</head>
<body>
    <noscript>
        Enable JavaScript to use this website
    </noscript>

    
    <div class="toggle-container" style="display: block;">
        <label class="toggle">
            <input type="checkbox" id="mode-toggle">
            <span class="toggle-slider"></span>
        </label>
    </div>
    
    <div class="mainLR">
        <img src="img/favico.png">
        
        <a href="/login">LogIn</a>
        <a href="/register">Register</a>
        
    </div>

    <script src="js/index.js"></script>
    <script src="js/themeCookie.js"></script>
</body>
</html>
