<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/d90e43a863.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/login-register.css">

    <link rel="shortcut icon" href="">
    <title>Login</title>
</head>
<body>

    <div class="toggle-container" style="position: absolute; display: block;">
        <label class="toggle">
            <input type="checkbox" id="mode-toggle">
        <span class="toggle-slider"></span>
        </label>
    </div>


    <div class="login-f">
        <div class="l-header">
            <h2>Login</h2>
            <p>Some text about the login</p>
        </div>

        <div class="login">
            <form action="/login" method="POST">
                <div>
                <label for="username">Username</label>
                <br>
                <div><i class="fa-solid fa-user"></i> <input type="text" id="username" name="username" required></div>
                </div>

                <br>

                <div>
                <label for="password">Password</label>
                <br>
                <div><i class="fa-solid fa-lock"></i> <input type="password" id="password" name="password" required></div>
                </div>

                <br>

                <button type="submit">Login</button>
            </form>
        </div>
        <div class="l-space"></div>

        <div class="l-register">
            <p>Don't have an account yet? </p>
            <a href="/register"><p> Create Now</p></a>
        </div>

        <% if (error) { %>
        <div id="error-message" style="width: fit-content;position: absolute;left: 50%;transform: translateX(-50%);bottom: 1rem;">
            <p style="color: #e76a6a;"><%= error %></p>
        </div>
        <% } %>

    </div>





    <script src="js/themeCookie.js"></script>
</body>
</html>
