<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <h1>Name: </h1>
    <p><%= name %></p>

    <h1>UserName: </h1>
    <p><%= username %></p>

    <h1>Email: </h1>
    <p><%= email %></p>

    <h1>ID: </h1>
    <p><%= userId %></p>


    <script src="js/themeCookie.js"></script>
</body>
</html>

