<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/d90e43a863.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/login-register.css">

    <link rel="shortcut icon" href="img/logo.gif">
    <title>Register</title>
</head>
<body>


    <div class="toggle-container" style="position: absolute; display: block;">
        <label class="toggle">
            <input type="checkbox" id="mode-toggle">
            <span class="toggle-slider"></span>
        </label>
    </div>

    <div class="register-f">
        <div class="r-header">
            <h2>Register</h2>
            <p>Some text about register</p>
        </div>

        <div class="register">
            <form action="/register" method="POST">
                <div>
                    <label for="username">Username</label>
                    <br>
                    <div><i class="fa-solid fa-user"></i> <input type="text" id="username" name="username" required></div>
                </div>

                <br>

                <div>
                    <label for="name">Name</label>
                    <br>
                    <div><i class="fa-solid fa-signature"></i> <input type="text" id="name" name="name" required></div>
                </div>

                <br>

                <div>
                    <label for="email">Email</label>
                    <div><i class="fa-solid fa-envelope"></i> <input type="email" id="email" name="email" required></div>
                    <br>
                </div>

                <br>

                <div>
                    <label for="password">Password</label>
                    <div><i class="fa-solid fa-lock"></i> <input type="password" id="password" name="password" required></div>
                    <br>
                </div>

                <br>

                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <div><i class="fa-solid fa-lock"></i> <input type="password" id="confirmPassword" name="confirmPassword" required></div>
                    <br>
                </div>

                <button type="submit">Register</button>
            </form>
        </div>

        <div class="r-login">
            <p>Already have an account? </p>
            <a href="/login"><p> LogIn</p></a>
        </div>

        <% if (error) { %>
        <div id="error-message" style="position: absolute;left: 50%;transform: translateX(-50%);bottom: 1rem;">
            <p style="color: #e76a6a;"><%= error %></p>
        </div>
        <% } %>

    </div>


    <script src="js/themeCookie.js"></script>
</body>
</html>
