<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/d90e43a863.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="css/index.css">

    <link rel="shortcut icon" href="img/logo.gif">
    <title>Ashhdjkd</title>
</head>
<body>

    <a href="/" class="home_btn"><i class="fa-solid fa-house"></i></a> 

    <div class="toggle-container" style="display: none;">
        <label class="toggle">
            <input type="checkbox" id="mode-toggle">
            <span class="toggle-slider"></span>
        </label>
    </div>

    <div class="register-f">
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" required>

            <br>

            <label for="name">Name:</label>
            <br>
            <input type="text" id="name" name="name" required>

            <br>

            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" name="email" required>

            <br>

            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" required>

            <br>

            <label for="confirmPassword">Confirm Password:</label>
            <br>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <br>

            <button type="submit">Register</button>
        </form>
    </div>

    <% if (error) { %>
    <div class="error-message">
        <p><%= error %></p>
    </div>
    <% } %>

    <script src="js/themeCookie.js"></script>
</body>
</html>
