$text: #fafafa;
$background: #050505;
$background-2: #252525;
$background-3: #424242;
$primary: #9ee4f5;
$secondary: #04282f;
$accent: #74d8f1;

$l-text: #050505;
$l-background: #fafafa;
$l-background-2: #e8e8e8;
$l-background-3: #d2d2d2;
$l-primary: #9ee4f5;
$l-secondary: #d0f4fb;
$l-accent: #17bee8;
