@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

@keyframes APP-openProfile {
  from {
    width: 0;
    height: 0;
  }
  to {
    height: 80vh;
    width: 60vw;
  }
}
@keyframes APP-openProfileAll {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes APP-closeProfile {
  from {
    width: 60vw;
    height: 80vh;
  }
  to {
    height: 0;
    width: 0;
  }
}
@keyframes APP-closeProfileAll {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/bg-d.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: auto center;
}
body .content {
  background: transparent;
  height: 92vh;
  width: 97vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 24% 2% 74%;
  grid-template-rows: 1fr;
}
body .content .info {
  background-color: rgba(5, 5, 5, 0.8);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12% 8% 80%;
  align-items: center;
}
body .content .info .i-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .content .info .i-profile .i-p-usr {
  height: 11.04vh;
  width: 100%;
  display: grid;
  grid-template-columns: 7.54vh auto;
  align-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
}
body .content .info .i-profile .i-p-usr img {
  width: 6.2vh;
  margin-left: 1vw;
  border-radius: 50%;
  border: solid 2px #b887f8;
}
body .content .info .i-profile .i-p-usr p {
  margin-left: 1.7vw;
  align-self: center;
  width: fit-content;
  padding: 0.25rem 0.65rem;
  border-radius: 10px;
  color: #fafafa;
}
body .content .info .i-profile .i-p-usr:hover {
  background-color: rgba(5, 5, 5, 0.7);
  transition: all 0.2s ease-in-out;
}
body .content .info .i-profile .i-p-usr:hover img {
  border: solid 2px #ee6ef7;
  transition: all 0.2s ease-in-out;
}
body .content .info .i-profile .i-p-btns {
  height: 11.04vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-self: center;
}
body .content .info .i-profile .i-p-btns a i, body .content .info .i-profile .i-p-btns i {
  color: #fafafa;
  padding: 0.5rem;
  margin-right: 0.75rem;
  border-radius: 50%;
}
body .content .info .i-profile .i-p-btns a i:hover, body .content .info .i-profile .i-p-btns i:hover {
  transition: all ease-in-out 0.2s;
  background-color: #b887f8;
}
body .content .info .i-search {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
body .content .info .i-search input {
  height: 70%;
  width: calc(90% - 2rem);
  border: solid 2px #b887f8;
  border-radius: 10px;
  padding: 0 1rem;
  outline: none;
  background-color: rgba(5, 5, 5, 0.8);
  color: #fafafa;
  font-weight: bold;
}
body .content .info .i-search input:focus {
  border: solid 2px #ee6ef7;
  transition: all 0.2s ease-in-out;
}
body .content .info .i-people {
  justify-self: center;
  height: calc(100% - 2rem);
  width: 90%;
  margin: 1rem 0rem;
  border-radius: 20px;
}
body .content .info .i-people div {
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: calc(0.15 * (66.24vh - 2rem + 15vw)) auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border-radius: 20px;
  color: #fafafa;
  cursor: pointer;
  user-select: none;
}
body .content .info .i-people div img {
  width: calc(0.15 * (66.24vh - 2rem) - 2vh);
  margin-left: 1.5vw;
  border-radius: 50%;
  grid-row: 1/3;
  grid-column: 1/2;
}
body .content .info .i-people div h4 {
  grid-row: 1/2;
  grid-column: 2/3;
  height: 80%;
  align-self: flex-end;
}
body .content .info .i-people div p {
  grid-row: 2/3;
  grid-column: 2/3;
  height: 80%;
  align-self: flex-start;
}
body .content .info .i-people div:hover {
  background-color: rgba(5, 5, 5, 0.9);
  transition: ease-in-out 0.2s all;
}
body .content .chat {
  background-color: rgba(5, 5, 5, 0.8);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 12% 88%;
  grid-template-columns: 1fr;
  display: none;
}
body .content .chat .c-info {
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #050505, transparent);
  padding: 0.75rem 1rem;
  height: calc(100% - 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
body .content .chat .c-info div {
  display: flex;
}
body .content .chat .c-info div img {
  width: 5.808vh;
  border-radius: 50%;
}
body .content .chat .c-info div p {
  color: #fafafa;
  margin-left: 1rem;
  height: 100%;
  align-self: center;
  cursor: pointer;
  user-select: none;
}
body .content .chat .c-info ul {
  display: flex;
  list-style-type: none;
}
body .content .chat .c-info ul li {
  color: #fafafa;
  font-size: large;
  margin-left: 0.5rem;
  border-radius: 30px;
}
body .content .chat .c-info ul li i {
  padding: 0.4rem;
  border-radius: 30px;
}
body .content .chat .c-info ul li:hover {
  background-color: rgba(184, 135, 248, 0.8);
  transition: all ease-in-out 0.2s;
}
body .content .chat-info {
  background-color: rgba(5, 5, 5, 0.8);
  border-radius: 20px;
  user-select: none;
  display: block;
}
body .content .chat-info div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
body .content .chat-info div h2 {
  width: fit-content;
  color: #fafafa;
}
body .profile-info {
  height: 0vh;
  width: 0vw;
  display: none;
  box-shadow: 0 0 20px 5px #050505;
  border-radius: 20px;
  background-color: #050505;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .profile-info #pi-close {
  position: absolute;
  top: 2.5vh;
  right: 1.5vw;
  color: #fafafa;
  opacity: 0;
}
body .profile-info #pi-close:hover {
  scale: 1.2;
  transition: all 0.2s ease-out;
}
body .profile-info #pi-content {
  opacity: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 27% 73%;
  grid-template-rows: 1fr;
}
body .profile-info #pi-content .pi-c-pages {
  height: 100%;
  max-height: 100%;
}
body .profile-info #pi-content .pi-c-pages div {
  height: 85%;
  width: calc(90% - 1rem);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 1rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .profile-info #pi-content .pi-c-pages div button {
  height: 2rem;
  width: 80%;
  margin-top: 1rem;
  border-radius: 20px;
  background-color: #050505;
  outline: none;
  border: none;
  color: rgba(250, 250, 250, 0.8);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
body .profile-info #pi-content .pi-c-pages div button:hover {
  scale: 1.08;
}
body .profile-info #pi-content .pi-c-pages div button:active {
  scale: 0.95;
}
body .profile-info #pi-content .pi-c-general {
  max-height: 100%;
  overflow-y: auto;
}
body .profile-info #pi-content .pi-c-general .pic-general-content {
  overflow-y: auto;
  height: calc(85% - 2rem);
  width: calc(90% - 2rem);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 1rem;
  color: #fafafa;
}
body .profile-info #pi-content .pi-c-general .pic-general-content h2 {
  margin-bottom: 1rem;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .space_space {
  height: 2px;
  width: 100%;
  border-radius: 40px;
  background-color: rgba(250, 250, 250, 0.4);
  margin: 1rem 0;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc h3 {
  margin-bottom: 0.5rem;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc button {
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: #b887f8;
  border: none;
  border-radius: 20px;
  transition: all 0.2s ease;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc button:hover {
  scale: 1.08;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc button:active {
  scale: 0.95;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 6rem;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img img {
  width: 6rem;
  height: 6rem;
  align-self: center;
  user-select: none;
  border-radius: 50%;
  z-index: 10;
  background-color: #fafafa;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img div {
  height: fit-content;
  width: fit-content;
  position: absolute;
  align-self: center;
  width: 6.1rem;
  height: 6.1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img div i {
  font-size: larger;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img:hover img, body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img:hover div {
  transition: all 0.2s ease;
  transform: scale(1.1);
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img:hover div {
  z-index: 20;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img:active img, body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-img:active div {
  transition: all 0.2s ease;
  scale: 0.95;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-dn {
  grid-column: 1/2;
  grid-row: 1/2;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-email {
  grid-column: 1/2;
  grid-row: 2/3;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-dn p, body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-email p {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-dn input, body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-email input {
  height: 1.5rem;
  margin-bottom: 0.8rem;
  border: solid 2px #b887f8;
  border-radius: 10px;
  padding: 0 1rem;
  outline: none;
  background-color: rgba(5, 5, 5, 0.8);
  color: #fafafa;
  font-weight: bold;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-dn input:focus, body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc .picgcc-c .fst-email input:focus {
  border: solid 2px #ee6ef7;
  transition: all 0.2s ease-in-out;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc-pfp {
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(1fr, 2);
  align-items: center;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc-pfp h3 {
  margin-bottom: 0.5rem;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc-pfp button {
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: #b887f8;
  border: none;
  border-radius: 20px;
  transition: all 0.2s ease;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc-pfp button:hover {
  scale: 1.08;
}
body .profile-info #pi-content .pi-c-general .pic-general-content .picgcc-pfp button:active {
  scale: 0.95;
}

.light-mode {
  background-image: url("/img/bg-l.svg");
}
.light-mode .info {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 20px;
}
.light-mode .chat {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 20px;
}

@media (max-width: 900px) {
  body .content {
    grid-template-columns: 10% 2% 88%;
  }
}
@media (max-width: 675px) {
  body .content {
    width: 95vw;
    height: 96vh;
    grid-template-columns: 100%;
  }
  body .content .info {
    display: none;
  }
  body .content .space {
    display: none;
  }
}
#chats-popup {
  height: 65vh;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #050505;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px #050505;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  display: none;
}
#chats-popup div:nth-child(1) {
  color: #fafafa;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  padding-left: 1rem;
}
#chats-popup div:nth-child(2) {
  padding: 1rem;
  display: none;
  flex-direction: column;
}
#chats-popup div:nth-child(2) div {
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
}
#chats-popup div:nth-child(2) div button {
  width: calc(100% - 1rem);
  height: 4rem;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  color: #fafafa;
}
#chats-popup div:nth-child(2) div button img {
  width: 100%;
  margin-left: 1rem;
  border-radius: 50%;
}
#chats-popup div:nth-child(2) div button p {
  justify-self: flex-start;
  padding-left: 2rem;
  font-weight: bolder;
}
#chats-popup i {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #fafafa;
}

/*# sourceMappingURL=app.css.map */
