@import 'col';
@import 'keyframes';

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/bg-d.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: auto center;

   .content {
       background: transparent;
       height: 92vh;
       width: 97vw;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);

       display: grid;
       grid-template-columns: 24% 2% 74%;
       grid-template-rows: 1fr;

       .info {
           background-color: rgba($color: $background, $alpha: 0.8);
           border-radius: 20px;

           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 12% 8% 80%;

           align-items: center;

           .i-profile {
               display: grid;
               grid-template-columns: 1fr 1fr;

               .i-p-usr {
                   height: calc((12 / 100) * 92vh);
                   width: 100%;

                   display: grid;
                   grid-template-columns: calc(((12 / 100) * 92vh) - 3.5vh) auto;

                   align-content: center;

                   cursor: pointer;

                   user-select: none;

                   border-radius: 20px;

                   img {
                       width: calc(((10 / 100) * 92vh) - 3vh);
                       margin-left: 1vw;
                       border-radius: 50%;
                       border: solid 2px $primary;
                   }
                   p {
                       margin-left: 1.7vw;
                       align-self: center;
                       width: fit-content;
                       padding: 0.25rem 0.65rem;
                       border-radius: 10px;
                       color: $text;
                   }
               }
               .i-p-usr:hover {
                   background-color: rgba($color: $background, $alpha: 0.7);
                   transition: all 0.2s ease-in-out;
                    img {
                       border: solid 2px $accent;
                       transition: all 0.2s ease-in-out;
                   }
               }

               .i-p-btns {
                   height: calc((12 / 100) * 92vh);
                   width: 100%;

                   display: flex;
                   flex-direction: row-reverse;
                   align-items: center;

                   align-self: center;

                   a i, i {
                       color: $text;
                       padding: 0.5rem;

                       margin-right: 0.75rem;

                       border-radius: 50%;
                   }
                   a i:hover, i:hover {
                       transition: all ease-in-out 0.2s;
                       background-color: $primary;
                   }
               }
           }

           .i-search {
               height: 100%;
               width: 100%;

               display: grid;
               justify-items: center;
               align-items: center;
               input {
                   height: 70%;
                   width: calc(90% - 2rem);

                   border: solid 2px $primary;
                   border-radius: 10px;
                   padding: 0 1rem;

                   outline: none;

                   background-color: rgba($color: $background, $alpha: 0.8);

                   color: $text;
                   font-weight: bold;
               }
               input:focus {
                   border: solid 2px $accent;
                   transition: all 0.2s ease-in-out;
               }
           }
           .i-people {
               justify-self: center;
               height: calc(100% - 2rem);
               width: 90%;
               margin: 1rem 0rem;
               border-radius: 20px;

               div {
                   height: 15%;
                   width: 100%;

                   display: grid;
                   grid-template-columns: calc((15 / 100) * ((((80 / 100) * 92vh) * (90 / 100)) - 2rem + 15vw)) auto;
                   grid-template-rows: 1fr 1fr;

                   align-items: center;

                   border-radius: 20px;
                    
                   color: $text;

                  cursor: pointer; 
                  user-select: none;
                    
                   img {
                       width: calc((15 / 100) * ((((80 / 100) * 92vh) * (90 / 100)) - 2rem) - 2vh);
                       margin-left: 1.5vw;
                       border-radius: 50%;

                       grid-row: 1 / 3;
                       grid-column: 1 / 2;
                   }
                   h4 {
                       grid-row: 1 / 2;
                       grid-column: 2 / 3;
                       height: 80%;
                       align-self: flex-end;
                   }
                   p {
                       grid-row: 2 / 3;
                       grid-column: 2 / 3;
                       height: 80%;
                       align-self: flex-start
                   }
               }
               div:hover {
                   background-color: rgba($color: $background, $alpha: 0.9);
                   transition: ease-in-out 0.2s all;

               }
           }
       }
       .chat {
           background-color: rgba($color: $background, $alpha: 0.8);
           border-radius: 20px;

           display: grid;
           grid-template-rows: 12% 88%;
           grid-template-columns: 1fr;

           .c-info {
               border-radius: 20px;
               background-image: linear-gradient(to bottom, $background, transparent);
               padding: 0.75rem 1rem;

               height: calc(100% - (2 * 0.75rem));

               display: flex;
               justify-content: space-between;
               align-items: center;
               align-content: center;
                
               div {
                   display: flex;
                    
                    img {
                        width: calc(((74 / 100) * 92vh) * (10 / 100) - 1vh);
                        border-radius: 50%;
                    }
                    p {
                        color: $text;
                        margin-left: 1rem;
                        height: 100%;
                        align-self: center;
                        cursor: pointer;
                        user-select: none;

                    }
                }
                ul {
                    display: flex;
                    list-style-type: none;
                    li {
                        color: $text;
                        font-size: large;
                        margin-left: 0.5rem;
                        i {
                            padding: 0.4rem;
                            border-radius: 30px;
                        }
                            border-radius: 30px;
                    }
                    li:hover {
                        background-color: rgba($color: $primary, $alpha: 0.8);
                        transition: all ease-in-out 0.2s;
                    }
                }
           }
           display: none;
       }
       .chat-info {
           background-color: rgba($color: $background, $alpha: 0.8);
           border-radius: 20px;

           user-select: none;
           div {
               position: relative;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               width: fit-content;

               h2 {
                   width: fit-content;
                   color: $text;
               }
           }
          display: block; 
       }
   } 
   .profile-info {
       height: 0vh;
       width: 0vw;
       display: none;

       box-shadow: 0 0 20px 5px $background;

       border-radius: 20px;
       background-color: $background;

       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);

       #pi-close {
           position: absolute;
           top: 2.5vh;
           right: 1.5vw;
           color: $text;
           opacity: 0;
       }
       #pi-close:hover {
           scale: 1.2;
           transition: all 0.2s ease-out;
       }
       #pi-content {
           opacity: 0;

           height: 100%;
           max-height: 100%;
           width: 100%;

           display: grid;

           grid-template-columns: 27% 73%;
           grid-template-rows: 1fr;

           .pi-c-pages {
               height: 100%;
               max-height: 100%;
               div {
                   height: 85%;
                   width: calc(90% - 1rem);

                   position: relative;
                   top: 50%;
                   left: 50%;
                   transform: translate(-50%, -50%);

                   margin-left: 1rem;

                   border-radius: 20px;
                   background-color: #ffffff10;

                   display: flex;
                   flex-direction: column;

                   align-items: center;

                   button {
                       height: 2rem;
                       width: 80%;

                       margin-top: 1rem;

                       border-radius: 20px;

                       background-color: $background;

                       outline: none;
                       border: none;

                       color: rgba($color: $text, $alpha: 0.8);

                       text-transform: uppercase;

                       cursor: pointer;

                       transition: all 0.2s ease;
                   }
                   button:hover {
                       scale: 1.08;
                   }
                   button:active {
                       scale: 0.95;
                   }
               }

           }

           .pi-c-general {
               max-height: 100%;
               overflow-y: auto;
               .pic-general-content {
                   overflow-y: auto;

                   height: calc(85% - 2rem);
                   width: calc(90% - 2rem);

                   position: relative;
                   top: 50%;
                   left: 50%;
                   transform: translate(-50%, -50%);

                   border-radius: 20px;
                   background-color: #ffffff10;

                   padding: 1rem;

                   color: $text;

                   h2 {
                       margin-bottom: 1rem;
                   }
                   .space_space {
                       height: 2px;
                       width: 100%;
                       border-radius: 40px;
                       background-color: rgba($color: $text, $alpha: 0.4);
                       margin: 1rem 0;
                   }

                   .picgcc {
                       h3 {
                           margin-bottom: 0.5rem;
                       } 
                       
                       button {
                           margin-top: 0.5rem;
                           padding: 0.25rem 0.75rem;
                           background-color: $primary;
                           border: none;
                           border-radius: 20px;
                           transition: all 0.2s ease;
                       }
                       button:hover {
                           scale: 1.08;
                       }
                       button:active {
                           scale: 0.95;
                       }
                       
                       .picgcc-c {
                           grid-template-columns: 1fr 1fr;
                           display: grid;
                           grid-template-rows: 1fr 1fr;

                           justify-items: center;
                           align-items: center;

                           .fst-img {
                               grid-column: 2 / 3;
                               grid-row: 1 / 3;

                               display: flex;
                               justify-content: center;

                               height: 6rem;
                               width: 6rem;

                               img {
                                   width: 6rem;
                                   height: 6rem;
                                   align-self: center;
                                   user-select: none;
                                   border-radius: 50%;
                                   z-index: 10;
                                   background-color: $text;
                               }
                               div {
                                   height: fit-content;
                                   width: fit-content;
                                   position: absolute;
                                   align-self: center;
                                   width: 6.1rem;
                                   height: 6.1rem;
                                   border-radius: 50%;
                                   background-color: rgba($color: black, $alpha: 0.75);

                                   display: flex;
                                   justify-content: center;
                                   align-items: center;

                                   i {
                                       font-size: larger;
                                   }
                               }
                           }
                           .fst-img:hover {
                               img, div {
                                   transition: all 0.2s ease;
                                   transform: scale(1.1);
                               }
                               div {
                                   z-index: 20;
                               }
                           }
                           .fst-img:active {
                               img, div {
                                   transition: all 0.2s ease;
                                   scale: 0.95;
                               }
                           }

                           .fst-dn {
                               grid-column: 1 / 2;
                               grid-row: 1 / 2;
                           }
                           .fst-email {
                               grid-column: 1 / 2;
                               grid-row: 2 / 3;
                           }
                           .fst-dn, .fst-email {
                               p {
                                   font-size: 0.9rem;
                                   font-weight: bold;
                                   margin-bottom: 0.5rem;
                               }
                               input {
                                   height: 1.5rem;
                                   margin-bottom: 0.8rem;

                                   border: solid 2px $primary;
                                   border-radius: 10px;
                                   padding: 0 1rem;

                                   outline: none;

                                   background-color: rgba($color: $background, $alpha: 0.8);

                                   color: $text;
                                   font-weight: bold;
                               }
                               input:focus {
                                   border: solid 2px $accent;
                                   transition: all 0.2s ease-in-out;
                               }
                           }
                       }
                   }
                   .picgcc-pfp {
                       height: fit-content;
                       display: grid;
                       grid-template-rows: repeat(1fr, 2);

                       align-items: center;
                       
                       h3 {
                           margin-bottom: 0.5rem;
                       } 
                       
                       button {
                           margin-top: 0.5rem;
                           padding: 0.25rem 0.75rem;
                           background-color: $primary;
                           border: none;
                           border-radius: 20px;
                           transition: all 0.2s ease;
                       }
                       button:hover {
                           scale: 1.08;
                       }
                       button:active {
                           scale: 0.95;
                       }
                   }
               }
           }
       }
   }
}

.light-mode {
    background-image: url('/img/bg-l.svg');

    .info {
        background-color: rgba($color: $l-background, $alpha: 0.8);
        border-radius: 20px;
    }
    .chat {
        background-color: rgba($color: $l-background, $alpha: 0.8);
        border-radius: 20px;
    }

}

@media (max-width: 900px) {
    body {
        .content {
            grid-template-columns: 10% 2% 88%;
        }
    }
}

@media (max-width: 675px) {
    body {
        .content {
            width: 95vw;
            height: 96vh;
            grid-template-columns: 100%;

            .info {
                display: none;
            }
            .space {
                display: none;
            }
        }
    }
}




#chats-popup {
    height: 65vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px $background;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;

    display: none;
    div:nth-child(1) {
        color: $text;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
        display: grid;
        align-content: center;
        padding-left: 1rem;
    }
    div:nth-child(2) {
        padding: 1rem;
        display: none;
        flex-direction: column;

        div {
            width: calc(100% - 1rem);
            display: flex;
            flex-direction: column;
            button {
                width: calc(100% - 1rem);
                height: 4rem;
                display: grid;
                grid-template-columns: 10% 90%;
                grid-template-rows: 100%;
                align-items: center;
                margin-bottom: 1rem;

                background-color: rgba($color: #fff, $alpha: 0.2);
                border: none;
                border-radius: 10px;
                color: $text;
                
                img {
                    width: 100%;
                    margin-left: 1rem;
                    border-radius: 50%;
                }
                p {
                    justify-self: flex-start;
                    padding-left: 2rem;
                    font-weight: bolder;
                }
            }
        }
    }

    i {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: $text;
    }
}
