@import 'styles';

.mainLR {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 20%;

    justify-items: center;

    img {
        width: 15vw;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        margin-bottom: 1rem;
    }

    a {
        color: $background;
        padding: 0.6rem 1.5rem;
        background-color: $primary;
        border-radius: 20px;
    }
    a:hover {
        scale: 1.1;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    a:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    a:nth-child(2) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
}

.home_btn {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    padding: 0.5rem 0.6rem;
    background-color: $text;
    border-radius: 50%;
    opacity: 0.5;
    i {
        color: $background;
    }
    i:hover {
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        color: $secondary;
        scale: 1.2;
    }
}

.register-f {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 80vh;
    width: 30vw;
    
    border-radius: 20px;

    background-color: $background-2;

    opacity: 0.9;

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        label {
            font-weight: bold;
        }

        input {
            border-radius: 10px;
            border: 0;
            padding: 0.3rem 0.6rem;
            margin-top: 0.2rem;
            margin-bottom: 0.8rem;
            color: $background;
            border: solid 2px $background;
            outline: none;
        }
        input:focus {
            outline: none;
            border: solid 2px $primary;
            transition: all 0.2s ease-in-out;
        }

        button {
            color: $background;
            padding: 0.6rem 1.5rem;
            background-color: $primary;
            border-radius: 20px;
            border: 0px;
        }
        button:hover {
            scale: 1.1;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
}
